# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.vscode/
.idea/

# Data files
*.csv
*.xlsx

# Images (optional if large)
*.png
*.jpg

# Cache
.cache/
